<?xml version="1.0"?>

<launch>
  <node pkg="Vision" name="Parking" type="parking.py" output="screen">
    <remap from="input_rgb_image" to="/frontcam/camera/image_raw" />
    <param name="start_signal" value="False" />
    <param name="debug_mode" value="False" />
    
    <param name="hmin" value="0" />
    <param name="hmax" value="50" />
    <param name="smin" value="250" />
    <param name="smax" value="255" />
    <param name="vmin" value="0" />
    <param name="vmax" value="255" />
    
    <param name="closeiter" value="1" />
    <param name="openiter" value="0" />
    <param name="conArea" value="120" />
    <param name="conPeri" value="50" />
    <param name="aspectRatio" value="7" />

    <param name="targetLockHistoryThresh" value="10" />
    <param name="XstdDevThresh" value="20" />
    <param name="YstdDevThresh" value="20" />    
                          
  </node>
</launch>

