<?xml version="1.0"?>

<launch>
    <arg name="input" default="/home/gohew/fuerte_workspace/bbauv/ros_bbauv2012/Logic/Vision/videos/Spped Trap.mp4" />
    
    <node pkg="Vision" name="video2ros" type="video2ros.py" output="screen">
	  <remap from="output" to="bottomcam/camera/image_raw" />
	  <param name="input" value="$(arg input)" />
	  <param name="fps" value="25" />
	  <param name="loop" value="False" />
	  <param name="start_paused" value="True" />
    </node>
    
</launch>
