<?xml version="1.0"?>
<robot name="Bumblebee">

<!-- Take reference from urdfs : {nessie5, g500ARM5} urdfs.xarco : {turtlebot_body, turtlebot_kinect} -->

  <!-- base_footprint is a fictitious link(frame) that is on the ground right below base_link origin, navigation stack depends on this frame. Taken from turtlebot_body.urdf.xacro -->


  <link name="base_footprint">

    <inertial>
      <mass value="0.0001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
              iyy="0.0001" iyz="0.0" 
              izz="0.0001" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.017" rpy="0 0 0" />
      <geometry>
       <box size="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>


  <link name="base_link">
    <inertial>
      <mass value="37"/>
      <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
    </inertial>
    <visual>
      <origin rpy="1.57 0 1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://navigation_2D/description/bbauv2012.stl" scale="0.001 0.001 0.001"/>
      </geometry>
        <material name="yellow">
          <color rgba="0.8 0.8 0 1" />
        </material>
    </visual>

  </link>


  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />        
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>


<!-- Thrusters (Any need for it?) -->

<!-- Sensors For SAUVC && RoboSub -->
    <!-- Pressure Sensor -->
    <!-- OceanServer OS5000 -->

<!-- Sensors For SAUVC -->

    <!-- Microsoft Front Cam 

  <link name="front_cam">
    <visual>
      <origin rpy="0 0 1.57" xyz="0.25 -0.37 0.37" />
      <geometry>
        <box size="0.1 0.15 0.1"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_to_front_cam" type="fixed">
    <parent link="base_link"/>
    <child link="front_cam"/>
  </joint>

-->

    <!-- Microsoft Bottom Cam -->

<!-- Sensors For RoboSub -->

    <!-- Stereo Frame -->
    <!-- Left Stereo Cam -->
    <!-- Right Stereo Cam -->
    <!-- PointGrey Front Cam -->
    <!-- PointGrey Bottom Cam -->
    <!-- DVL -->
    <!-- Pressure Sensor -->
    <!-- AHRS - 8 -->


<!--  -->
</robot>
