<launch>

	<!-- Launching Joystick Control -->
<!--  	<include file="$(find launch)/teleop.launch" /> -->

  	<!-- Launch PID Controller -->
	<include file="$(find launch)/controller.launch" />  	
    <include file="$(find launch)/battery.launch"/>

  	<!-- Launching Embedded Systems -->
    <include file="$(find launch)/embedded.launch"/>

    <!-- Launching DVL -->
    <include file="$(find launch)/WH_DVL.launch" />

    <!-- Launch Sparton IMU -->
    <include file="$(find launch)/SpartonCompass.launch"/>

    <!-- Launch CPU temperature sensors -->
    <node pkg="sensors" name="sensors" type="cpu_temp" respawn="false"> </node>
    <!-- Launch xy navigation node -->
    <node pkg="controls" name="controls" type="navigate2D.py" respawn="false"></node>

    <!--Launch earth odom -->
    <node pkg="earth_odom" name="earth_odom" type="earth_odom" respawn="false"></node>
</launch> 
