<!-- Launch file for vision nodes & mission planner for SAUVC 2014 -->
<launch>

	<!-- <node name="mission_planner" pkg="core" type="mission_planner.py">
	</node> -->
	
	<node name="line_follower" pkg="vision" type="linefollower_task.py">
            <param name="testing" value="false" /> 
	</node>
	
	<node name="bucket" pkg="vision" type="bucket_task.py">
            <param name="testing" value="false" />
	</node>
	
	<node name="flare" pkg="vision" type="flare_task.py">
            <param name="testing" value="false" />
	</node>
	
	<!-- <node name="acoustics" pkg="acoustics" type="acoustic_task.py">
	</node> -->

</launch>
