<!-- Used to play .bag files and uncompress compressed .bag video streams -->

<launch>

  <param name="use_sim_time" value="false"/>

  <arg name="bagfile" default="testing.bag" />
  <node pkg="rosbag" type="play" name="play" args="--clock -l '$(arg bagfile)'">
  </node>

  <node name="bottomRepublish" pkg="image_transport" type="republish" output="screen" args="compressed in:=/bottomcam/camera/image_rect_color/ raw out:=/bottomcam/camera/image_rect_color">
  <remap from="/bottomcam/camera/image_rect_color/" to="/front_camera/camera/image_rect_color/image_raw"/>
  </node>
  
  <!--
  <node name="frontRepublish" pkg="image_transport" type="republish" output="screen" args="compressed in:=/front_camera/camera/image_rect_color/image_raw raw out:=/front_camera/camera/image_rect_color/image_raw">
  <remap from="/front_camera/camera/image_rect_color/image_raw" to="/front_camera/camera/image_rect_color/image_raw"/> 
  </node>-->


</launch>
