<!-- Used to play .bag files and uncompress compressed .bag video streams -->

<launch>

  <param name="use_sim_time" value="false"/>

  <node name="bottomRepublish" pkg="image_transport" type="republish" output="screen" args="compressed in:=/bot_camera/camera/image_color raw out:=/bot_camera/camera/image_color">
  </node>
  
  <node name="frontRepublish" pkg="image_transport" type="republish" output="screen" args="compressed in:=/front_camera/camera/image_color raw out:=/front_camera/camera/image_color">
  </node>

</launch>
