<?xml version="1.0"?>

<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find move_base_bbauv2012)/maps/surface.yaml">
     <!-- Remaps to load the map file -->
     <remap from="/static_map" to="/dynamic_map" />
     <remap from="/map" to="/map_unused" />
  </node>

</launch>

