#!/usr/bin/env python2

PACKAGE = "Vision"
# The following line should not be here for Groovy and above
import roslib;roslib.load_manifest(PACKAGE)

# For Groovy and above, the following line should be
# from dynamic_reconfigure.parameter_generator_catkin import *
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("contourMinArea", int_t, 0, "Min contour area (1/1000)", 1, 0, 1000)
gen.add("redHueLow",  int_t, 0, "Red Hue Low",  160, 0, 180)
gen.add("redHueHigh", int_t, 0, "Red Hue High",  20, 0, 180)
gen.add("redSatLow",  int_t, 0, "Red Sat Low",    0, 0, 255)
gen.add("redSatHigh", int_t, 0, "Red Sat High", 255, 0, 255)
gen.add("redValLow",  int_t, 0, "Red Val Low",    0, 0, 255)
gen.add("redValHigh", int_t, 0, "Red Val High", 255, 0, 255)

gen.add("blueHueLow",  int_t, 0, "Blue Hue Low",  100, 0, 180)
gen.add("blueHueHigh", int_t, 0, "Blue Hue High", 127, 0, 180)
gen.add("blueSatLow",  int_t, 0, "Blue Sat Low",  118, 0, 255)
gen.add("blueSatHigh", int_t, 0, "Blue Sat High", 255, 0, 255)
gen.add("blueValLow",  int_t, 0, "Blue Val Low",    0, 0, 255)
gen.add("blueValHigh", int_t, 0, "Blue Val High", 255, 0, 255)

gen.add("yellowHueLow",  int_t, 0, "Yellow Hue Low",   30, 0, 180)
gen.add("yellowHueHigh", int_t, 0, "Yellow Hue High",  57, 0, 180)
gen.add("yellowSatLow",  int_t, 0, "Yellow Sat Low",   90, 0, 255)
gen.add("yellowSatHigh", int_t, 0, "Yellow Sat High", 255, 0, 255)
gen.add("yellowValLow",  int_t, 0, "Yellow Val Low",    0, 0, 255)
gen.add("yellowValHigh", int_t, 0, "Yellow Val High", 255, 0, 255)

gen.add("greenHueLow",  int_t, 0, "Green Hue Low",   75, 0, 180)
gen.add("greenHueHigh", int_t, 0, "Green Hue High",  79, 0, 180)
gen.add("greenSatLow",  int_t, 0, "Green Sat Low",  228, 0, 255)
gen.add("greenSatHigh", int_t, 0, "Green Sat High", 255, 0, 255)
gen.add("greenValLow",  int_t, 0, "Green Val Low",    0, 0, 255)
gen.add("greenValHigh", int_t, 0, "Green Val High", 255, 0, 255)

exit(gen.generate(PACKAGE, "Tollbooth", "Tollbooth"))
