<launch>
    <node name="uvc_cam_node" pkg="uvc_cam" type="uvc_cam_node">
    </node>
    <node name="republish" pkg="image_transport" type="republish" args="compressed in:=/camera/image_raw raw out:=/camera/rgb/image_color">
    </node>
    <node name="multi_viewer" pkg="controlpanel" type="multi_viewer.py">
    </node>
    <node name="reconfigure_gui" pkg="dynamic_reconfigure" type="reconfigure_gui">
    </node>
</launch>
