<launch>
  <node pkg="camera1394stereo" type="camera1394stereo_node" name="bumblebee_stereo_node" output="screen" >
    <param name="video_mode" value="format7_mode3" />
    <param name="format7_color_coding" value="raw16" />
    <param name="bayer_pattern" value="bggr" />
    <param name="bayer_method" value="" />
    <param name="stereo_method" value="Interlaced" />
    <param name="camera_info_url_left" value="file://$(find launch)/bumblebee_left.yaml" />
    <param name="camera_info_url_right" value="file://$(find launch)/bumblebee_right.yaml" />
    <param name="frame_rate" value="15" />
    <param name="iso_speed" value="400" />
    <param name="auto_white_balance" value="3" />
    <param name="white_balance_BU" value="462" />
    <param name="white_balance_RV" value="772" />
  </node>

  <node ns="stereo_camera" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen" >
    <param name="_queue_size" value="50"/>
    <param name="approximate_sync" value="true"/>
    <param name="prefilter_size" value="9"/>
    <param name="prefilter_cap" value="31"/>
    <param name="correlation_window_size" value="37"/>
    <param name="min_disparity" value="0"/>
    <param name="disparity_range" value="128"/>
    <param name="uniqueness_ratio" value="5"/>
    <param name="texture_threshold" value="10"/>
    <param name="speckle_size" value="500"/>
    <param name="speckle_range" value="4"/>
  </node>

  <!-- this node to provide stereo-vision service of object distance culculation -->
<!--
  <node pkg="stereo_vision_bbauv" type="pcl_process" name="pcl_process" output="screen">
    <remap from="/cloud" to="/stereo_camera/points2" />
    <param name="z_limit" value="5.0"/>
  </node>
-->

  <param name="stereo_camera/left/image_raw/compressed/format" value="png" />
  <param name="stereo_camera/right/image_raw/compressed/format" value="png" />
</launch>
