<launch>

	<!-- Launching Joystick Control -->
<!--  	<include file="$(find launch)/teleop.launch" /> -->

  	<!-- Launch PID Controller -->
	<include file="$(find launch)/controller.launch" />  	

  	<!-- Launching Actuators -->
    <include file="$(find launch)/actuators.launch" />

	<!-- Launching OpenUPS -->
  	<include file="$(find Openups)/openups.launch" />

</launch> 
