<launch>

	<!-- Launching Joystick Control -->
<!--  	<include file="$(find launch)/teleop.launch" /> -->

  	<!-- Launch PID Controller -->
	<include file="$(find launch)/controller.launch" />  	

  	<!-- Launching Embedded Systems -->
    <include file="$(find launch)/embedded.launch" />

	<!-- Launching OpenUPS -->
  	<include file="$(find Openups)/openups.launch" />

    <!-- Launching Sensors -->
    <include file="$(find launch)/sensors.launch" />

    <!-- Launching cameras and image reducer -->
    <include file="$(find launch)/cameras.launch" />
    <include file="$(find launch)/image_reducer.launch" />
    <include file="$(find launch)/navigation.launch" />

</launch> 
